* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b8dee1;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-temas {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.question {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.logo {
    margin-bottom: 8px;
} 

.buttons {
    display: flex;
    gap: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons button {
    background-color: #97568b;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #cc77bc;
    transition: all 0.2s;
}

.chatbot {
    display: flex;
    width: 100%;
    height: 100vh;
}

.history {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 18%;
}

.question-chat {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: #eafbff88;
    height: 100vh;
    width: 82%;
    gap: 200px;
}

.history-chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
    cursor: pointer;
}

.input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.input input {
    background-color: #ab619eb6;
    font-size: 14px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.573);
    padding: 10px;
    width: 900px;
    outline: none;
    color: white;
}

#placeholder-text::placeholder {
    color: white;
}

.input img {
    cursor: pointer;
}

.container-login {
    background-color: #eafbff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.login input {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.573);
    background-color: #ab619eb6;
    outline: none;
    font-size: 15px;
    color: white;
}

.login button {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: #97568b;
    color: white;
    cursor: pointer;
}

.login button:hover {
    background-color: #cc77bc;
    transition: all 0.2s;
}