{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot LEA</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container-login">
        <div class="logo-login">
            <img src="/LEA_Project/assets/logo-lea.png" alt="" style="height: 180px; margin-left: 20px;">
        </div>
        <div class="login">
            <h1 style="color:#ab619e;">Login</h1>
            <input id="placeholder-text" type="text" placeholder="Usuário">
            <input id="placeholder-text" type="password" placeholder="Senha">
            <a href="/LEA_Project/pages/temas.html" target="_blank"><button>Entrar</button></a>
        </div>
    </div>
</body>
</html>