{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container-temas">
        <div class="logo">
            <img src="{% static 'assets/logo-lea.png' %}" alt="Logo LEA" style="height: 180px; margin-left: 20px;">
        </div>
        <div class="question">
            <p style="color: #163639;">Sobre qual assunto você tem dúvida?</p>
        </div>
        <div class="buttons">
            <a href="{% url 'estomas' %}"><button>Estomas</button></a>
            <a href="{% url 'cancerdemama' %}"><button>Câncer de Mama</button></a>
            <a href="{% url 'arboviroses' %}"><button>Arboviroses</button></a>
        </div>
    </div>
</body>
</html>